:root
    --color-primary: #D87D4A

    --color-black: #000
    --color-white: #fff
    --color-light-grey: #f1f1f1
    --color-border: hsla(0, 0%, 100%, 0.2)
    --color-text: #fff
    --color-text-dark: var(--color-black)