@use "../../../../styles/util" as *

.page.checkout .summary
    ul
        padding-top: 32px

        li
            display: flex
            align-items: center
            gap: 16px

            .price, .quantity-counter
                font-weight: 700

    .order-summary-list
        gap: 24px

        img
            width: 64px
            border-radius: 8px

        .price, .quantity-counter
            opacity: .5
            font-size: 14px

        .details
            flex-grow: 1

            .name
                font-weight: 700

    .price-summary
        gap: 8px

        li:last-child
            margin-top: 16px

            .price
                color: var(--color-primary)

        .name
            flex-grow: 1
            text-transform: uppercase
            opacity: .5