@use "../../../styles/util" as *

.page.home
    padding-top: 40px

    @include tablet
        padding-top: 6rem

    @include desktop
        padding-top: 120px

.hero
    padding-top: 110px
    padding-bottom: 110px

    > *
        max-width: 380px
    
    .overline
        color: var(--color-dark-grey)

    .name
        margin-top: 16px 
        margin-bottom: 24px

    .CTA
        margin-top: 28px

    @include tablet

        padding-top: 125px
        padding-bottom: 165px

        .name
            margin-top: 24px 

        .description
            max-width: 350px

        .button
            margin-top: 40px
