@use '../../../styles/util' as *

footer
    nav
        .nav-links
            @include flex
            flex-direction: column
            gap: 16px
    
    @include tablet
        nav
            .nav-links
                flex-direction: row
    