@use "../../../../styles/util" as *

.checkout-modal
    background-color: var(--color-white)
    color: var(--color-text-dark)
    padding: 32px
    border-radius: 8px
    text-align: initial
    margin-top: 24px

    h5
        text-transform: uppercase
        margin: 24px 0 16px
        line-height: 28px

    p
        opacity: .5

    .summary
        margin: 24px 0
        background-color: var(--color-light-grey)
        border-radius: 8px
        overflow: hidden

        > *
            padding: 24px

        .grand-total
            background-color: var(--color-black)
            color: var(--color-text)
            text-transform: uppercase
            padding-top: 16px

            > * 
                &:first-child
                    opacity: .5

                &:last-child
                    font-size: 18px

    .back-to-home
        width: 100%
                

                    