@use '../styles/globals' as *
@use '../styles/util' as *

#app
    display: flex
    flex-direction: column
    min-height: 100vh

    main
        flex-grow: 1

    header, footer
        background-color: var(--color-black)

    section
        @include container-a
        text-align: center
        text-align: -webkit-center
        text-align: -moz-center
