@use '../styles/globals' as *
@use '../styles/util' as *

#app
    display: flex
    flex-direction: column
    min-height: 100vh

    main
        flex-grow: 1

    header, footer
        background-color: var(--color-light-black)
        background-blend-mode: difference

    section
        @include container-a
        @include center-text

    .page
        display: grid
        row-gap: 7.5rem
        padding-bottom: 7.5rem

.button
    display: grid
    place-items: center
    min-height: 48px
    min-width: 160px
    width: fit-content
    font-weight: bold
    transition: .5s
    color: var(--color-text)
    background-color: var(--color-primary)
    text-transform: uppercase
    
    &:hover
        background-color: var(--color-button-hover)

    &.secondary
        background-color: transparent
        color: var(--color-text-dark)
        border: solid 1.6px var(--color-black)

        &:hover
            background-color: var(--color-black)
            color: var(--color-text)

    &.terciary
        background-color: transparent
        color: var(--color-dark-grey)
        grid-template-columns: auto 8px
        justify-content: center
        gap: 13px

        &:hover
            color: var(--color-primary)

h6
    margin: 0

@include tablet
    #app
        .page
            row-gap: 6rem
            padding-bottom: 6rem


@include desktop
    #app
        section
            text-align: initial

        .page
            row-gap: 10.5rem
            padding-bottom: 200px
