@use "../../../styles/util" as *

.page
    .categories
        padding-bottom: 120px
        text-transform: uppercase
        margin-top: 5rem

        ul
            display: grid
            gap: 5rem
        
        .category
            @include padding(22px)
            border-radius: .5rem
            background-color: var(--color-light-grey)
            font-weight: bold

            > img
                height: 104px
                margin-top: -3.5rem

            a
                @include flex
                gap: 13px
                margin-top: 16px
                width: fit-content

                span
                    opacity: .5


                    
        // .category
        //     // @include padding(22px)
        //     // background-color: green
        //     font-weight: bold
        //     display: grid
        //     grid-template-columns: auto
        //     grid-template-rows: 52px 165px
        //     // grid-template-rows: 52px 52px 36px 20px 17px 18px 22px

        //     > img
        //         grid-row: 1 / 2
        //         height: 104px
        //         z-index: 1

        //     .details
        //         grid-row: 2 / -1
        //         border-radius: .5rem
        //         background-color: var(--color-light-grey)

        //     a
        //         @include flex
        //         gap: 13px
        //         margin-top: 16px
        //         width: fit-content

        //         span
        //             opacity: .5