@use "../../../styles/util" as *

.counter-input
    display: grid
    grid-template-columns: 16px 16px 16px
    background-color: var(--color-light-grey)

    input
        appearance: none
        border: none
        background-color: transparent
        outline: none
        width: fit-content
