@use "../../../../styles/util" as *

.cart
    background-color: var(--color-white)
    color: var(--color-text-dark)
    border-radius: 8px
    text-align: initial
    padding: 24px 28px 32px
    margin-top: 24px

    .empty-text
        text-align: center
        
    .heading
        display: flex
        justify-content: space-between
        align-items: center

        button
            text-decoration: underline
            justify-content: flex-end

    .summary
        padding: 32px 0 24px
        
        ul
            display: grid
            gap: 24px

        .total-price
            @include flex(space-between)
            text-transform: uppercase
            padding-top: 32px

            > *
                &:first-child
                    color: var(--color-dark-grey)

                &:last-child
                    font-size: 18px
                    font-weight: 700

    a.checkout
        width: 100%

        &[aria-disabled="true"]
            filter: grayscale(.5)

    @include tablet
        min-width: 380px
        width: fit-content
        justify-self: flex-end

                    