@use "../../../styles/util" as *

.page.product section     
    &.gallery ul
        display: grid
        gap: 20px

        img
            border-radius: 8px

    &.related
        h5
            text-transform: uppercase

        ul
            padding-top: 40px
            display: grid
            gap: 56px

            li
                display: grid
                gap: 32px
