@use "../../../styles/util" as *

.page.product section.product-detail
    text-align: initial !important
    padding-bottom: 120px
    
    .product-item
        .price
            font-weight: bold
