@use "../../../styles/util" as *

.product-row
    display: grid
    grid-template-columns: 64px 1fr max-content
    column-gap: 16px
    align-items: center

    .thumbnail
        border-radius: 8px

    .name, .price, .quantity-counter
        font-weight: bold

    .name
        text-transform: uppercase

    .price, .quantity-counter
        color: var(--color-text-grey)